Simple script

In [4]:
%pprint
from fxdata import *

Pretty printing has been turned OFF

In [2]:
fd = FXData()

In [5]:
fd

In [7]:
df = fd.getData("EURUSD", 
                datetime(2023, 10, 4), 
                datetime(2023, 10, 31), 
                dataType=DataType.TICK
                )

Processing week 2023-40
Processing week 2023-40 Processing week 2023-41
Processing week 2023-41 Processing week 2023-42
Processing week 2023-42 Processing week 2023-43
Processing week 2023-43 Processing week 2023-44
Processing week 2023-44 200
200
200
200
200

In [8]:
df

                               b        a
dt
10-01-2023 21:00:35.422  1.05655  1.05745
10-01-2023 21:02:40.483  1.05689  1.05745
10-01-2023 21:02:52.615  1.05687  1.05745
10-01-2023 21:02:54.174  1.05689  1.05745
10-01-2023 21:02:54.212  1.05687  1.05745
...                          ...      ...
11-03-2023 20:58:51.546  1.07267  1.07333
11-03-2023 20:58:53.231  1.07269  1.07330
11-03-2023 20:58:54.240  1.07272  1.07327
11-03-2023 20:58:54.260  1.07276  1.07324
11-03-2023 20:58:55.340  1.07277  1.07323

[6300013 rows x 2 columns]